/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.flex {
  display: flex;
}
.margin {
  margin: 0 auto;
}
.container {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: hotpink;
  flex-direction: column;
}
header {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
}
header h1 {
  display: flex;
  color: #8400ac;
  font-weight: bold;
  font-size: 5rem;
  box-sizing: border-box;
  border: 0.5rem dotted #03ffb3;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}
.tagline {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
  color: #64004f;
  border: 0.5rem dotted #ffff8e;
  padding: 1rem;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.navbar a {
  font-size: 2.5rem;
  margin: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
.flower {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  box-sizing: border-box;
}
.flower img {
  display: flex;
  margin: 0 auto;
  width: 40rem;
  box-sizing: border-box;
}
.flower h2 {
  font-size: 2.5rem;
  margin: 1rem;
  margin-top: 3rem;
  background-color: gold;
  color: #ff0281;
  padding: 1rem;
}
@media (max-width: 500px) {
  .flower {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
}
.intro {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.intro h2 {
  font-size: 2rem;
  margin: 1rem;
  color: #00ffc8;
  border: 0.5rem dotted #ffff8e;
  padding: 1rem;
  margin-top: 3rem;
}
.p-intro {
  display: flex;
  border: 0.5rem dotted #00ffc8;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .p-intro {
    margin: 2rem;
    padding: 1rem;
    width: 80%;
    font-size: 1.5rem;
    color: #2e006b;
  }
}
.history {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
.history h2 {
  font-size: 2rem;
  margin: 1rem;
  color: #00e1ff;
  padding: 1rem;
}
.history p {
  font-size: 1.5rem;
}
.history .title {
  font-weight: bold;
  color: #ffff8e;
}
.history .date-time {
  color: #00ffc8;
}
.history .description {
  margin-bottom: 2rem;
  font-style: oblique;
  color: #4f005f;
}
@media (max-width: 500px) {
  .history {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
}
@media (max-width: 500px) {
  .title {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .description {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
}
.catch {
  display: flex;
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 5rem;
  color: #5900ff;
  border: 0.5rem dotted #ff33bb;
  padding: 1rem;
}
@media (max-width: 500px) {
  .catch {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
}
.skills-connect {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .skills-connect {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
}
.skills {
  display: flex;
  margin: 0 auto;
  align-content: center;
  box-sizing: border-box;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  border: 0.5rem dotted #ffff8e;
  margin-right: 5rem;
}
.skills #set {
  display: flex;
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #5900ff;
}
.skills p {
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.skills p:last-child {
  padding-bottom: 1.5rem;
}
@media (max-width: 500px) {
  .skills {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
}
.connect {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-content: center;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  border: 0.5rem dotted #ffff8e;
  margin-left: 5rem;
}
.connect #here {
  display: flex;
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #5900ff;
}
.connect p {
  margin-bottom: 3rem;
  font-style: italic;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 500px) {
  .connect {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }
}
footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-content: center;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #4c00ff;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 7rem;
    margin-top: 2rem;
    text-align: center;
  }
}
